.login-main-container {
  width: 100vw;
  display: flex;
  .left-main-container {
    width: 40%;

    background-color: rgb(2, 88, 162);
    color: white;

    .left-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100vh;
      padding: 50px 90px;
      .left-top-container {
        display: flex;
        align-items: center;
        position: relative;

        .left-top-emoticon-arrow {
          position: absolute;
          left: -55px;
          .material-symbols-outlined {
            cursor: pointer;
          }
        }
      }
      .left-center-container {
        font-size: 15px;
        line-height: 20px;
        .left-login-text {
          color: rgb(251, 217, 16);
          font-size: 35px;
          font-weight: 900;
          padding-bottom: 30px;
        }
        .left-center-3rd-text {
          padding-top: 20px;
        }
      }
      .left-bottom-container {
        line-height: 20px;
        font-size: 12px;
        .left-bottom-text {
          display: flex;
        }
        .left-bottom-link {
          text-decoration: underline;
          color: white;
        }
      }
    }
  }
  .right-container {
    display: flex;
    .right-form {
      // height: 900px;
      padding-top: 60px;
      padding-left: 80px;
      position: relative;
      .right-login-input {
        width: 450px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        border: 1px solid black;
        border-radius: 5px;
        &:focus {
          border: 2px solid;
        }
      }
      .material-symbols-outlined {
        position: absolute;
        cursor: pointer;
        top: 215px;
        right: 15px;
      }
      .right-login-2nd-text {
        display: flex;
        color: black;
      }
      .rigth-link-text {
        text-decoration: underline;
        color: black;
        text-indent: 10px;
      }
      .right-pw-1st-text {
        padding-top: 30px;
      }
      .right-checkbox {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
        align-items: center;
        .right-checkbox-wrapper {
          display: flex;
          align-items: center;
        }
        .right-checkbox-input {
          width: 25px;
          height: 25px;
        }
        .right-checkbox-1st-text {
          text-indent: 10px;
        }
        .right-checkbox-2nd-text {
          position: absolute;
          background-color: black;
          color: white;
          border: 1px solid black;
          padding: 15px 20px;
          border-radius: 5px;
          top: -40px;
          right: -10px;
          width: 500px;
        }
        .right-checkbox-3rd-text {
          position: relative;
          width: 20px;
          font-weight: bold;
          img {
            width: 100%;
          }
        }
        .right-checkbox-3rd-text:hover {
          cursor: pointer;
        } 
      }
      .right-login-button {
        width: 450px;
        height: 55px;
        border: none;
        border-radius: 30px;
        background-color: rgb(0, 95, 147);
        color: white;
      }
      .right-login-button:hover {
        background-color: rgb(0, 79, 147);
      }
      .right-signup-text {
        padding-top: 70px;
        font-weight: bold;
        padding-bottom: 50px;
      }
      .right-signup-button {
        width: 450px;
        height: 55px;
        border-radius: 30px;
        background-color: white;
      }
      .right-signup-button:hover {
        border: 3px solid black;
      }
      .valid-input{
        border: 1px solid green;
        &:focus {
          border: 2px solid green;
        }
      }
      .invalid-input{
        border: 1px solid red;
        &:focus {
          border: 2px solid red;
        }
      }
    }
  }
}
