.ProductCard-container {
  width: 300px;
  height: 500px;
  margin: 10px;
  .ProductCard-component-each-item {
    margin: 5%;
  }
  .ProductCard-img {
    width: 90%;
    height: 50%;
    margin-bottom: 5%;
  }
  .ProductCard-item-title {
    font-size: 25px;
    font-weight: 700;
  }
  .ProductCard-item-size {
    font-size: 20px;
    font-weight: 400;
  }
  .ProductCard-item-price {
    font-size: 30px;
    font-weight: 900;
  }

  .ProductCard-item-icon-container {
    margin-left: 5%;
    width: 100%;
  }
  .ProductCard-add-cart-and-heart-icon {
    cursor: pointer;
  }
}
