.mypage {
  display: flex;
  padding-left: 120px;
  padding-right: 30px;
  width: 100vw;
  height: 80vh;
  padding-top: 100px;
  .mypage-description {
    width: 70%;

    &-content {
      font-size: 36px;
      font-weight: bold;
      line-height: 50px;
    }
    &-title {
      font-size: 36px;
      color: rgb(0, 124, 193);
      padding-left: 10px;
    }
    .mypage-description-guide-benefit {
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .mypage-description-guide-modify {
      font-size: 14px;
    }
    .mypage-description-guide-link {
      text-decoration: underline;
      font-size: 14px;
    }
  }
  .mypage-id-card-box {
    width: 30%;
    height: 205px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 10px 10px 10px 10px rgb(232, 233, 237);
    .mypage-id-card-content {
      padding: 20px;
      background-color: rgb(0, 124, 193);
      color: white;
      border-radius: 10px 10px 0px 0px;
      .mypage-id-card-guide {
        font-size: 15px;
        padding-bottom: 10px;
      }
      .mypage-id-card-name {
        font-size: 20px;
      }
    }
    .mypage-id-card-box-blank {
      height: 20px;
      background-color: rgb(255, 219, 0);
    }
    .mypage-id-card-box-point-box {
      padding: 30px 20px;
      font-size: 20px;
      height: 100px;
      background-color: rgb(241, 243, 247);
      border-radius: 0px 0px 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
