.thumbnail-container {
  // border: red 1px solid;
  width: 300px;
  height: 500px;
  margin: 10px;
  .item {
    margin: 5%;
  }
  .thumbnail-img {
    width: 90%;
    height: 50%;
    margin-bottom: 5%;
  }
  .title {
    font-size: 25px;
    font-weight: 700;
  }
  .size {
    font-size: 20px;
    font-weight: 400;
  }
  .price {
    font-size: 30px;
    font-weight: 900;
  }
  .icon-container {
    margin-left: 5%;
    width: 100%;
  }
  .icon {
    cursor: pointer;
  }
}
