@import "../../styles/variables.scss";
@import "../../styles/animation.scss";

.side-modal-bg {
  @include modal-background;
  z-index: 99;
  -webkit-animation: modalBgAnimation 0.3s;
  animation: modalBgAnimation 0.3s;
  .white-modal {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 480px;
    height: 100vh;
    padding-left: 40px;
    padding-right: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    -webkit-animation: sideModalAnimation 0.3s;
    animation: sideModalAnimation 0.3s;
    .side-modal-content {
      .side-modal-header {
        @include flex(flex-end, center, row);
        height: 92px;
        .side-modal-close-button {
          @include flex(center, center, null);
          border-radius: 24px;
          width: 45px;
          height: 45px;
          background-color: white;
          cursor: pointer;
          &:hover {
            border-radius: 24px;
            background-color: #f2f2f2;
          }
        }
      }
      .side-modal-title {
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 30px;
      }
      .side-modal-body {
        font-size: 18px;
      }
    }
  }
  .blue-modal {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 480px;
    height: 100vh;
    padding-left: 40px;
    padding-right: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #1658af;
    -webkit-animation: sideModalAnimation 0.3s;
    animation: sideModalAnimation 0.3s;
    .side-modal-content {
      .side-modal-header {
        @include flex(flex-end, center, row);
        height: 92px;
        .side-modal-close-button {
          @include flex(center, center, null);
          border-radius: 24px;
          width: 45px;
          height: 45px;
          background-color: white;
          cursor: pointer;
          &:hover {
            border-radius: 24px;
            background-color: #f2f2f2;
          }
        }
      }
      .side-modal-title {
        font-size: 24px;
        color: white;
        font-weight: bolder;
        padding-right: 80px;
        margin-bottom: 30px;
        line-height: 37px;
      }
      .side-modal-link {
        color: white;
        font-size: 18px;
      }
    }
  }
}
.side-modal-unmount {
  transform: translateX(100%);
  transition: all 0.3s;
}
