.signup-main-container {
  width: 100vw;
  display: flex;
  .left-container {
    width: 40%;
    .left-main-container {
      padding: 30px 80px;
      .left-top-1st-container {
        display: flex;
        align-items: center;
        position: relative;
        .left-top-icon-arrow {
          position: absolute;
          left: -55px;
        }
        .material-symbols-outlined {
          cursor: pointer;
        }
      }
      .left-top-2nd-container {
        display: flex;
        padding-top: 20px;
        font-size: 32px;
        font-weight: 800;
        .left-2nd-text1 {
          color: #0058a3;
        }
        .left-2nd-text2 {
          text-indent: 10px;
        }
      }
      .left-top-3rd-container {
        display: flex;
        padding-top: 20px;
        .left-3rd-text2 {
          text-indent: 10px;
          text-decoration: underline;
          color: black;
        }
      }
      .left-blank-set {
        display: flex;
        padding-top: 50px;
        .left-image-1st-container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          padding-bottom: 50px;
          .img {
            width: 200px;
            margin: 5px 5px 5px 0px;
          }
        }
        .left-image-2nd-container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          .img {
            width: 200px;
            margin: 5px 0px 5px 5px;
          }
        }
      }
    }
    .left-bottom-container {
      line-height: 20px;
      font-size: 12px;
      .left-bottom-text {
        display: flex;
      }
      .left-bottom-link {
        text-decoration: underline;
        color: black;
      }
    }
  }
  .right-container {
    padding: 60px 80px;
    width: 60%; 
    .right-main-container {
      .right-mid-container {
        width: 450px;
        .right-1st-text {
          padding-top: 50px;
          padding-bottom: 10px;
        }
        .right-1st-text {
          padding-bottom: 10px;
        }
        .right-1st-input {
          border: 1px solid black;
          border-radius: 5px;
          width: 450px;
          height: 50px;
        }
        .right-valid-text {
          color: red;
          padding-top: 10px;
        }
        .right-2nd-text {
          padding-top: 40px;
          padding-bottom: 10px;
        }
        .right-2nd-input {
          border: 1px solid black;
          border-radius: 5px;
          width: 450px;
          height: 50px;
        }
        .right-3rd-text-emotion {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 40px;
          padding-bottom: 10px;
          .rigth-text-hover {
            position: absolute;
            background-color: black;
            color: white;
            border: 1px solid black;
            padding: 10px 10px;
            border-radius: 5px;
            top: 450px;
            right: 220px;
          }
          .right-text-hover-img {
            position: relative;
            cursor: pointer;
          }
          img {
            width: 20px;
            height: 20px;
            font-weight: bold;
          }
        }
        .right-3rd-input {
          border: 1px solid black;
          border-radius: 5px;
          width: 450px;
          height: 50px;
          margin-bottom: 10px;
        } 
        .right-3rd-text2-red {
          color: red;
        }
        .right-4th-text {
          padding-top: 40px;
          padding-bottom: 10px;
        }
        .right-4th-input {
          border: 1px solid black;
          border-radius: 5px;
          width: 450px;
          height: 50px;
          margin-bottom: 10px;
        }
        .right-5th-text {
          padding-top: 40px;
          padding-bottom: 10px;
        }
        .right-5th-input {
          border: 1px solid black;
          border-radius: 5px;
          width: 450px;
          height: 50px;
          margin-bottom: 10px;
        }
        .right-5th-text-valid {
          color: red;
        }
        .right-6th-set {
        position: relative;
        .right-6th-text {
          padding-top: 40px;
          padding-bottom: 10px;
        }
        .right-6th-input {
          border: 1px solid black;
          border-radius: 5px;
          width: 450px;
          height: 50px;
          margin-bottom: 10px;
        }
        .right-password-text{
          color: red;
        }
        .visibility-icon {
          cursor: pointer;
          position: absolute; 
          top: 80px;
          right: 10px;
        }
      }
      .valid-input {
        border: 1px solid rgb(2, 88, 163);
        &:focus {
          border: 2px solid rgb(2, 88, 163);
        }
      }
      .invalid-input {
        border: 1px solid red;
        &:focus {
          border: 2px solid red;
        }
      }
    }
      .right-bottom-1st-text-input {
        display: flex;
        align-items: center;
        padding-top: 50px;
        .right-bottom-1st-input {
          width: 25px;
          height: 25px;
        }
        .right-bottom-1st-text {
          width: 420px;
          padding-left: 10px;
          font-size: 15px;
        }
      }
      .right-bottom-2nd {
        padding-left: 40px;
        padding-top: 30px;
        .right-bottom-2nd-text-input {
          display: flex;
          align-items: center;
          .right-bottom-2nd-input {
            width: 25px;
            height: 25px;
          }
          .right-bottom-2nd-text {
            text-indent: 10px;
          }
        }
        .right-bottom-3rd-text-input {
          display: flex;
          align-items: center;
          padding-top: 30px;
          .right-bottom-3rd-input {
            width: 25px;
            height: 25px;
          }
          .right-bottom-3rd-text {
            text-indent: 10px;
          }
        }
        .right-bottom-4th-text-input {
          display: flex;
          align-items: center;
          padding-top: 30px;
          .right-bottom-4th-input {
            width: 25px;
            height: 25px;
          }
          .right-bottom-4th-text {
            text-indent: 10px;
          }
        }
      }
      .right-bottom-5th-text-input {
        display: flex;
        align-items: center;
        padding-top: 30px;
        .right-bottom-5th-input {
          width: 25px;
          height: 25px;
        }
        .right-bottom-5th-text {
          text-indent: 10px;
        }
        .right-bottom-5th-link {
          text-decoration: underline;
          color: black;
        }
      }
      .right-bottom-6th-text-input {
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .right-bottom-6th-input {
          width: 25px;
          height: 25px;
        }
        .right-bottom-6th-text {
          text-indent: 10px;
        }
        .right-bottom-6th-link {
          text-decoration: underline;
          color: black;
        }
      }
      .right-botton-button {
        border: 1px solid black;
        border-radius: 30px;
        width: 450px;
        height: 50px;
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }
  }
}
