.purchase-history {
  display: flex;
  padding-left: 120px;
  padding-top: 90px;
  .order-history-guide-box {
    width: 520px;
    .order-history-content-box {
      position: -webkit-sticky;
      position: sticky;
      top: 60px;
      border-right: 1px rgb(221, 221, 221) solid;
      margin-top: 100px;
      margin-right: 50px;
      padding-right: 220px;
      padding-top: 50px;
      padding-bottom: 40px;
      .purchase-history-text {
        font-size: 27px;
        font-weight: 650;
        margin-bottom: 30px;
      }
      .question-about-order-omission {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 15px;
        color: rgb(83, 83, 83);
        .link-to-order-list {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .purchase-list-box {
    margin-top: 140px;
    margin-left: 20px;
    padding-top: 30px;
    width: 650px;

    .purchase-list-item-container {
      border-top: 1px rgb(221, 221, 221) solid;
      padding-top: 30px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      .purchase-list-item-info-container {
        .purchase-date-text-box {
          font-weight: 800;
        }
        .component-item {
          margin-bottom: 11px;
          font-size: 13px;
        }
        .purchase-product-name {
          font-size: 20px;
        }
        .price-of-each-purchase-item {
          font-size: 16px;
          font-weight: 800;
        }
        .purchase-cancel {
          font-size: 13px;
          cursor: pointer;
        }
      }
    }

    .asking-mention-for-purchase-history-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      margin-top: 100px;
      margin-bottom: 100px;
      cursor: pointer;
    }
    .asking-mention-for-purchase-history-page:hover {
      text-decoration: underline;
    }
  }
  .show-more-detail-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .show-more-detail-button {
      font-size: 20px;
      background-color: white;
      color: gray;
      border: none;
      margin-right: 10px;
    }
  }
}
